body {
  min-height: 2000px;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: black;
  height: 70px;
  color: white;
  justify-content: space-between;
}
.navbar-brand a {
  padding-left: 30px;
  color: white;
}
.navbar-brand span {
  color: #c23a00;
}
.navbar-menu a {
  color: white;
  margin-right: 20px;
  transition: 300ms;
  padding-bottom: 3px;
}
.navbar-menu a:hover {
  color: #c23a00;
  border-bottom: 1px solid white;
}
.navbar-extra a {
  margin-right: 20px;
  color: white;
}
.header {
  background-image: url(image/backgroud-image.jpg);
  min-height: 100vh;
}
.header h1 {
  padding-top: 200px;
  margin: auto;
  color: #c23a00;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 70px;
  text-shadow: 1px 2px 3px black;
}
.header p {
  width: 500px;
  text-align: justify;
  color: black;
}

.header button {
  background-color: #c23a00;
  border: none;
  border-radius: 5px;
}
.header button a {
  color: white;
  font-size: 20px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header button a:hover {
  color: #000;
}

.header .icon-link a {
  color: #fff;
  margin-top: 400px;
  padding-left: 1190px;
  position: fixed;
}

.about {
  background-color: #000;
  min-height: 300px;
}
.about h2 {
  color: #fff;
  border-bottom: 2px solid #fff;
  width: 200px;
  margin: auto;
  padding-bottom: 1rem;
}
.about p {
  text-align: justify;
  color: #fff;
}
.category {
  background-color: #000;
  min-height: 500px;
}

.category h2,
.product h2 {
  color: #fff;
  border-bottom: 2px solid white;
  width: 200px;
  margin: auto;
  padding-bottom: 1rem;
  text-align: center;
}

.category .container {
  padding-bottom: 4rem;
}
.category .card {
  justify-content: center;
  text-align: center;
  background-color: #000;
}
.category .card p,
.category .card h5 {
  color: #fff;
}

.product {
  background-color: #000;
  padding-bottom: 3rem;
}

.product img {
  width: 900px;
  padding-top: 2rem;
}

.contact {
  background-color: #000;
  min-height: 500px;
}

.contact h2 {
  color: #fff;
  border-bottom: 2px solid #fff;
  width: 200px;
  margin: auto;
  padding-bottom: 1rem;
  text-align: center;
  padding-top: 1rem;
}
.contact .card {
  margin-top: 1rem;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 5px;
}

.contact .p {
  text-align: justify;
  color: #fff;
}
.contact .btn {
  border: 1px solid #fff;
}
.contact .btn a {
  color: #fff;
}

.contact form {
  padding: 10px;
}
.contact form label {
  /* padding-top: 2px; */
  margin-bottom: 2px;
  margin-top: 2px;
}
